{% extends 'forum/index.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div>
        <a href="/">Back to Forum</a>
    </div>
    <h1>ALL ABOUT YOU!</h1>

    {{ form_start(form)}}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    {{ form_row(form.email) }}
    {{ form_row(form.image) }}
    {{ form_end (form) }}

</div>
{% endblock %}
