{% extends 'base.html.twig' %}

{% block title %}Welcome to the COLORBLIND forum!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% block head %}<h1>WELCOME TO THE COLORBLIND FORUM!</h1>
    <h2>WE USE NO COLORS!</h2>
        <ul>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('logout') }}">Log out</a></li>
                {% else %}
            <li> <a href="{{ path('app_login') }}">Login</a></li>
                    <li><a href="{{ path('register') }}">Register</a></li>

                {% endif %}

        </ul>
    {% endblock %}


        <ul id="content">
            {% for s in subforums %}

            <li> <a href="forum/{{ s.id }}">{{ s.title }}</a> </li>



            {% endfor %}
        </ul>


</div>



{% endblock %}
