{% extends 'forum/subforum.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">

        {% block head %}{{ parent() }}{% endblock %}

        <ul id="subforum_list">
        {% for m in messages %}
            <li>{{ m.content }}:{{ m.user.username }}:{{ m.date_created.date }}</li>
        {% endfor %}
        </ul>

    </div>

    <div class = "form">
        {{ form(form) }}
    </div>
{% endblock %}
